@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

#background {
  margin: 0;
  position: relative;
  position: fixed;
  background-image: url("https://i.imgur.com/lk7MlNp.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: -1;
  animation: bgScroll 3s 1.8s forwards;
}

@keyframes bgScroll {
  from {
    background-position-y: 0%;
  }
  to {
    background-position-y: 100%;
  }
}

.overlay {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-image: linear-gradient(to bottom left, #404040, transparent);
  position: absolute;
  opacity: 0.8;
}

/* NAVBAR START */
#navbar {
  background: rgb(143,35,35);
  background: linear-gradient(90deg, rgba(143,35,35,1) 0%, rgba(40,100,115,1) 48%, rgba(0,0,0,1) 93%);
  height : 80px;
  z-index: 999;
}

#navbar .navbar-brand img {
  height: 80px;
}

/* MAIN START */
#main {
  margin-top: 80px;
  opacity: 0.9;
}

#main .list-group-item-action:hover {
  background-color: rgba(0, 0, 0, 0.) !important;
}

#main .group-team {
  cursor: pointer;
}

#main .group-team.disabled {
  filter: blur(5px);
}

#main .group-team *,
#main .group-standing * {
  pointer-events: none;
}

#main .round-flag {
  /* width: 100%;
  height: 100%; */
  width: 50px;
  height: 50px;
  text-align: center;
  object-fit: cover;
}

#main .group-ranking-flag {
  /* width: 100%;
  height: 100%; */
  width: auto;
  height: 50px;
  text-align: center;
  object-fit: cover;
}

#main .round-flag:hover {
  border-color: rgba(0, 0, 0, 0.4) !important;
}

#main .group-standing {
  height: 68px;
}

#main .group-team.selected .round-flag {
  border-width: 3px !important;
  border-color: rgba(0, 0, 0, 0.4) !important;
}

#brackets [data-bracket-id="third"] .bracket-matches .match {
  position: relative;
  top: 100px;
}



/* 
#main .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

#main .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#main .glow-on-hover:active {
    color: #000
}

#main .glow-on-hover:active:after {
    background: transparent;
}

#main .glow-on-hover:hover:before {
    opacity: 1;
}

#main .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */
