@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

#background {
  margin: 0;
  position: relative;
  position: fixed;
  background-image: url("https://i.imgur.com/lk7MlNp.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: -1;
  animation: bgScroll 3s 1.8s forwards;
}

@keyframes bgScroll {
  from {
    background-position-y: 0%;
  }
  to {
    background-position-y: 100%;
  }
}

.overlay {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay::after {
  background-image: linear-gradient(to bottom left, #404040, transparent);
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.8;
}

/* NAVBAR START */
#navbar {
  z-index: 999;
}

#navbar .navbar-brand img {
  height: 100%;
}

/* MAIN START */
#main {
  margin-top: 106px;
  opacity: 0.9;
}

#main .list-group-item-action:hover {
  background-color: rgba(0, 0, 0, 0.) !important;
}

#main .group-team {
  cursor: pointer;
}

#main .group-team.disabled {
  filter: blur(5px);
}

#main .group-team *,
#main .group-standing * {
  pointer-events: none;
}

#main .round-flag {
  width: 50px;
  height: 50px;
  text-align: center;
}

#main .round-flag:hover {
  border-color: rgba(0, 0, 0, 0.4) !important;
}

#main .group-standing {
  height: 68px;
}

#main .group-team.selected .round-flag {
  border-width: 3px !important;
  border-color: rgba(0, 0, 0, 0.4) !important;
}

#brackets [data-bracket-id="third"] .bracket-matches .match {
  position: relative;
  top: 100px;
}
